h1 {color:rgb(255, 0, 0);
}
h2 {text-align: center;
}
body {background-color: rgb(12, 197, 135);
}
body {font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#imagem1 {width: 400px;
}
#imagem1 {margin-left: 30%;
}
